.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 48px; /* в брифе указан такой размер, но выглядит непропорционально, там скорее 18px*/
  opacity: 100%;
  transition: opacity 1s linear;
}

.khan__buy-link:hover {
  opacity: 60%;
}
